<section class="about section-padding">
  <div class="container">
    <div class="row">
      {{!-- <div class="home-container"> --}}
        <div class="add-form-container">
          <h2 class="fac-h2">Timetable Form</h2>
          {{#if errors.day}}
          <div class="error">{{errors.day}}</div>
          {{/if}}
          <p style="margin-bottom: 0;font-size:15px;">Course:{{course}}</p>
          <p style="font-size:15px;">Semester:{{semester}}</p>
          <form id="timetableForm" action="/save-timetable" method="post">
            <table class="edit-table">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Subject</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Tutor</th>
                </tr>
              </thead>
              <tbody>
                <!-- Row for the Day -->
                <tr>
                  <td rowspan="5">
                    <select id="day" name="day">
                      <option value="">Select Day</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                    </select>
                  </td>
                  <!-- First Row for Subject -->
                  <td>
                    <input
                      type="text"
                      name="subject1"
                      placeholder="Enter Subject"
                    />
                  </td>
                  <td><input type="time" name="startTime1" /></td>
                  <td><input type="time" name="endTime1" /></td>
                  <td>
                    <select id="tutor" name="tutor1">
                      <option value="">Select Tutor</option>
                      {{#each tutors}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
                <!-- Second Row for Subject -->
                <tr>
                  <td>
                    <input
                      type="text"
                      name="subject2"
                      placeholder="Enter Subject"
                    />
                  </td>
                  <td><input type="time" name="startTime2" /></td>
                  <td><input type="time" name="endTime2" /></td>
                  <td>
                    <select id="tutor" name="tutor2">
                      <option value="">Select Tutor</option>
                      {{#each tutors}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
                <!-- Third Row for Subject -->
                <tr>
                  <td>
                    <input
                      type="text"
                      name="subject3"
                      placeholder="Enter Subject"
                    />
                  </td>
                  <td><input type="time" name="startTime3" /></td>
                  <td><input type="time" name="endTime3" /></td>
                  <td>
                    <select id="tutor" name="tutor3">
                      <option value="">Select Tutor</option>
                      {{#each tutors}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
                <!-- Fourth Row for Subject -->
                <tr>
                  <td>
                    <input
                      type="text"
                      name="subject4"
                      placeholder="Enter Subject"
                    />
                  </td>
                  <td><input type="time" name="startTime4" /></td>
                  <td><input type="time" name="endTime4" /></td>
                  <td>
                    <select id="tutor" name="tutor4">
                      <option value="">Select Tutor</option>
                      {{#each tutors}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
                <!-- fifth Row for Subject -->
                <tr>
                  <td>
                    <input
                      type="text"
                      name="subject5"
                      placeholder="Enter Subject"
                    />
                  </td>
                  <td><input type="time" name="startTime5" /></td>
                  <td><input type="time" name="endTime5" /></td>
                  <td>
                    <select id="tutor" name="tutor5">
                      <option value="">Select Tutor</option>
                      {{#each tutors}}
                      <option value="{{name}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Save Button -->
            <div class="add-button-container">
              <button
                type="submit"
                class="save-button"
                name="action"
                value="save"
              >
                Save and Next
              </button>
              <button
                type="submit"
                class="save-button"
                name="action"
                value="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
</section>

<section class="front-product">
  <div class="container-fluid p-0">
    <div class="row align-items-center"></div>
  </div>
</section>

<section class="featured-product section-padding">
  <div class="container">
    <div class="row"></div>
  </div>
</section>
</main>