
<section class="about section-padding">
    <div class="container">
        <div class="row">
        


  <div class="timetable-container" style="margin-top: 20px;">
      <h5 class="fac-h5">All Day Timetable</h5>
    <!-- Form to select course and semester -->
    <form action="/show-all-time-table-for-faculty" method="post" class="fac-form-group">
      <div>
        <label for="course">Course:</label>
        <select id="course" name="course">
          <option value="">--Select Course--</option>
          <option value="MCA">MCA</option>
          <option value="MSC">MSC</option>
        </select>
      </div>
      <div>
        <label for="semester">Semester:</label>
        <select id="semester" name="semester">
          <option value="">--Select Semester--</option>
          <option value="S1">S1</option>
          <option value="S2">S2</option>
          <option value="S3">S3</option>
          <option value="S4">S4</option>
        </select>
      </div>
      <button type="submit">View Timetable</button>
    </form>

    <!-- Dynamic course heading -->
    <h2 class="fac-h2">Timetable for {{data.course}}</h2>
    <!-- Table design for timetable -->
    <table class="fac-all-timetable">
      <thead>
        <tr>
          <th>Day</th>
          <th>Period 1</th>
          <th>Period 2</th>
          <th>Period 3</th>
          <th>Period 4</th>
          <th>Period 5</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.timetable}}
        <tr>
          <td>{{day}}</td>
          <td>
            <strong>{{firstPeriod.0.subject}}</strong><br>
            {{firstPeriod.0.startingTime}} - {{firstPeriod.0.endingTime}}<br>
            <em>{{firstPeriod.0.tutor}}</em>
          </td>
          <td>
            <strong>{{secondPeriod.0.subject}}</strong><br>
            {{secondPeriod.0.startingTime}} - {{secondPeriod.0.endingTime}}<br>
            <em>{{secondPeriod.0.tutor}}</em>
          </td>
          <td>
            <strong>{{thirdPeriod.0.subject}}</strong><br>
            {{thirdPeriod.0.startingTime}} - {{thirdPeriod.0.endingTime}}<br>
            <em>{{thirdPeriod.0.tutor}}</em>
          </td>
          <td>
            <strong>{{fourthPeriod.0.subject}}</strong><br>
            {{fourthPeriod.0.startingTime}} - {{fourthPeriod.0.endingTime}}<br>
            <em>{{fourthPeriod.0.tutor}}</em>
          </td>
          <td>
            <strong>{{fifthPeriod.0.subject}}</strong><br>
            {{fifthPeriod.0.startingTime}} - {{fifthPeriod.0.endingTime}}<br>
            <em>{{fifthPeriod.0.tutor}}</em>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>
</main>