
<section class="about section-padding">
    <div class="container">
        <div class="row">
          {{!-- <div class="home-container"> --}}
              
    <div class="edit-form-container">
      <h2 class="fac-h2">Edit Timetable</h2>
      {{#if errors.day}}
              <div class="error">{{errors.day}}</div>
          {{/if}}
      <p style="margin-bottom: 0;font-size:15px;">Course:{{course}}</p>
      <p style="font-size:15px;">Semester:{{semester}} </p>
      <form id="timetableForm" action="/saveeditedtimetable/{{data._id}}" method="post">
          <table class="edit-table">
              <thead>
                  <tr>
                      <th>Day</th>
                      <th>Subject</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Tutor</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- Row for the Day -->
                  <tr>
                      <td rowspan="5">
                          <input type="text" name="day" value="{{data.day}}" readonly>
                      </td>
                      <!-- First Row for Subject -->
                      <td><input type="text" name="subject1" value="{{data.firstPeriod.0.subject}}" ></td>
                      <td><input type="time" name="startTime1"  value="{{data.firstPeriod.0.startingTime}}" ></td>
                      <td><input type="time" name="endTime1"  value="{{data.firstPeriod.0.endingTime}}"></td>
                      {{!-- <td><input type="text" name="tutor1"  value="{{data.firstPeriod.0.tutor}}"></td> --}}
                     <td>
                        <select id="tutor" name="tutor1">
                          <option value="{{data.firstPeriod.0.tutor}}" selected>{{data.firstPeriod.0.tutor}}</option>
                           {{#each tutors}}
                           <option value="{{name}}">{{name}}</option>
                           {{/each}}
                        </select>
                    </td>
                  </tr>
                  <!-- Second Row for Subject -->
                  <tr>
                      <td><input type="text" name="subject2" value="{{data.secondPeriod.0.subject}}" ></td>
                      <td><input type="time" name="startTime2"  value="{{data.secondPeriod.0.startingTime}}" ></td>
                      <td><input type="time" name="endTime2"  value="{{data.secondPeriod.0.endingTime}}"></td>
                      {{!-- <td><input type="text" name="tutor2"  value="{{data.secondPeriod.0.tutor}}"></td> --}}
                      <td>
                        <select id="tutor" name="tutor2">
                          <option value="{{data.secondPeriod.0.tutor}}" selected>{{data.secondPeriod.0.tutor}}</option>
                           {{#each tutors}}
                           <option value="{{name}}">{{name}}</option>
                           {{/each}}
                        </select>
                    </td>
                  </tr>
                  <!-- Third Row for Subject -->
                  <tr>
                      <td><input type="text" name="subject3" value="{{data.thirdPeriod.0.subject}}" ></td>
                      <td><input type="time" name="startTime3"  value="{{data.thirdPeriod.0.startingTime}}" ></td>
                      <td><input type="time" name="endTime3"  value="{{data.thirdPeriod.0.endingTime}}"></td>
                      {{!-- <td><input type="text" name="tutor3"  value="{{data.thirdPeriod.0.tutor}}"></td> --}}
                      <td>
                        <select id="tutor" name="tutor3">
                          <option value="{{data.thirdPeriod.0.tutor}}" selected>{{data.thirdPeriod.0.tutor}}</option>
                           {{#each tutors}}
                           <option value="{{name}}">{{name}}</option>
                           {{/each}}
                        </select>
                    </td>
                  </tr>
                  <!-- Fourth Row for Subject -->
                  <tr>
                      <td><input type="text" name="subject4" value="{{data.fourthPeriod.0.subject}}" ></td>
                      <td><input type="time" name="startTime4"  value="{{data.fourthPeriod.0.startingTime}}" ></td>
                      <td><input type="time" name="endTime4"  value="{{data.fourthPeriod.0.endingTime}}"></td>
                      {{!-- <td><input type="text" name="tutor4"  value="{{data.fourthPeriod.0.tutor}}"></td> --}}
                      <td>
                        <select id="tutor" name="tutor4">
                          <option value="{{data.fourthPeriod.0.tutor}}" selected>{{data.fourthPeriod.0.tutor}}</option>
                           {{#each tutors}}
                           <option value="{{name}}">{{name}}</option>
                           {{/each}}
                        </select>
                    </td>
                  </tr>
                  <!-- fifth Row for Subject -->
                  <tr>
                      <td><input type="text" name="subject5" value="{{data.fifthPeriod.0.subject}}" ></td>
                      <td><input type="time" name="startTime5"  value="{{data.fifthPeriod.0.startingTime}}" ></td>
                      <td><input type="time" name="endTime5"  value="{{data.fifthPeriod.0.endingTime}}"></td>
                      {{!-- <td><input type="text" name="tutor5"  value="{{data.fifthPeriod.0.tutor}}"></td> --}}
                      <td>
                        <select id="tutor" name="tutor5">
                           <option value="{{data.fifthPeriod.0.tutor}}" selected>{{data.fifthPeriod.0.tutor}}</option>
                           {{#each tutors}}
                           <option value="{{name}}">{{name}}</option>
                           {{/each}}
                        </select>
                    </td>
                  </tr>
              </tbody>
          </table>

          <!-- Save Button -->
          <div  class="button-container">
                     <button type="submit" class="save-button" name="action" value="save">Edit and Save</button>
           </div>
      </form>
  </div> 
{{!-- </div> --}}
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>  
</main>