<section class="about section-padding">
  <div class="container">
    <div class="row">
      {{!-- <div class="home-container"> --}}

        <h1 class="fac-h2">Edit Student Details</h1>
        <div class="edit-std-container">
          <form action="/edit-student-details/{{data._id}}" method="post">
            <!-- Student Name -->
      
            <div class="form-group">
              <label for="studentName">Student Name</label>
              <input type="text" id="studentName" name="name" value="{{data.name}}" required>
            </div>
      
            <!-- Email -->
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" value="{{data.email}}" required>
            </div>
      
            <!-- Phone -->
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="tel" id="phone" name="phone" value="{{data.phone}}" title="Enter a valid 10-digit phone number" required>
            </div>
      
            <!-- Course -->
            <div class="form-group">
              <label for="course">Course</label>
              <select id="course" name="course" required>
                <option value="{{data.course}}">{{data.course}}</option>
                <option value="MCA">MCA</option>
                <option value="MSC">MSC</option>
              </select>
            </div>
      
            <!-- Semester -->
            <div class="form-group">
              <label for="semester">Semester</label>
              <select id="semester" name="semester" required>
                <option value="{{data.semester}}">{{data.semester}}</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
                <option value="S4">S4</option>
              </select>
            </div>
      
            <!-- Submit Button -->
            <div class="form-group">
              <button type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
</section>

<section class="front-product">
  <div class="container-fluid p-0">
    <div class="row align-items-center"></div>
  </div>
</section>

<section class="featured-product section-padding">
  <div class="container">
    <div class="row"></div>
  </div>
</section>
</main>

