<section class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="home-container">
          

  <h1 class="fac-h2">Faculty Details</h1>
  <table class="std-table">
    <thead>
      <tr>
        {{!-- <th>#</th> --}}
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Example Row -->
      {{#each data}}
      <tr>
        {{!-- <td>{{increment @index}}</td> --}}
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        <td>
          <div class="std-action-buttons">
            <button class="std-edit-btn"><a href="/edit-faculty/{{this._id}}">Edit</a></button>
            <button class="std-delete-btn"><a href="/delete-faculty/{{this._id}}" onclick="return confirm('Are you sure to delete {{this.name}}?')">Delete</a></button>
          </div>
        </td>
      </tr>
      {{/each}}
      <!-- Add more rows dynamically -->
    </tbody>
  </table>


      </div>
    </div>
  </div>
</section>

<section class="front-product">
  <div class="container-fluid p-0">
    <div class="row align-items-center"></div>
  </div>
</section>

<section class="featured-product section-padding">
  <div class="container">
    <div class="row"></div>
  </div>
</section>
</main>