  </head>
  <body>
   <style>
      .error { color: red; font-size: 0.9em; }
    </style>
    <div class="container">
<<<<<<< HEAD
     {{#if name}}
=======
     {{#if result}}
>>>>>>> a339ce04614246c11ebb2c613c23b078000d4489
      <h4 class="fac-h2" id="login-welcome">Welcome <span>{{name}}</span></h4>
     {{/if}}
      <div class="login-form">
        <div class="forms">
          <div class="form login">
          
            <span class="title">Login</span>

            <form id="loginForm" action="/login" method="post">
              <div class="input-field">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Username"
                  value="{{username}}"
                />
                {{#if errors.username}}
                  <div class="login-error">{{errors.username}}</div>
                {{/if}}
              </div>

              <div class="input-field">
                <button type="button" id="passwordshow" class="bi-eye"></button>
                <input type="password" id="password" name="password" placeholder="Password" value="{{password}}"/>
                {{#if errors.password}}
                  <div class="login-error">{{errors.password}}</div>
                {{/if}}
              </div>
              <!-- Role -->
              <div class="input-field">
                <div class="p">
                  <p style="margin-bottom: 0;font-size:15px">Role</p>
                </div>
                <div class="options">
                  <select name="usertype" id="userType" class="option">
                    <option value=""></option>
                    <option value="Student">Student</option>
                    <option value="Faculty">Faculty</option>
                    <option value="HOD">HOD</option>
                  </select>
                  {{#if errors.usertype}}
                    <div class="login-error">{{errors.usertype}}</div>
                  {{/if}}
                </div>
              </div>

              <!-- Button -->
              <button class="button" type="submit">Login</button>
              <p class="register-link">Not registered yet?
                <a href="/role">Register Now</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
<script>
    const passwordInput = document.getElementById("password");
    const toggleBtn = document.getElementById("passwordshow");
        toggleBtn.addEventListener("click", () => {
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    });
</script>