
<section class="about section-padding">
    <div class="container">
        <div class="row">
           <div class="table-container">
      <h2 style="margin-top: 2rem;" class="table-h1">Weekly Timetable</h2>
            <div class="table-responsive">
              <table class="student-all-timetable">
                <thead>
                  <tr>
                    <th>Day</th>
                    <th>1st Period</th>
                    <th>2nd Period</th>
                    <th>3rd Period</th>
                    <th>4th Period</th>
                    <th>5th Period</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each data}}
                  <tr>
                    <td>{{day}}</td>
                    <td>
                      <strong>{{firstPeriod.0.subject}}</strong><br>
                      {{firstPeriod.0.startingTime}} - {{firstPeriod.0.endingTime}}<br>
                      <em>{{firstPeriod.0.tutor}}</em>
                    </td>
                    <td>
                      <strong>{{secondPeriod.0.subject}}</strong><br>
                      {{secondPeriod.0.startingTime}} - {{secondPeriod.0.endingTime}}<br>
                      <em>{{secondPeriod.0.tutor}}</em>
                    </td>
                    <td>
                      <strong>{{thirdPeriod.0.subject}}</strong><br>
                      {{thirdPeriod.0.startingTime}} - {{thirdPeriod.0.endingTime}}<br>
                      <em>{{thirdPeriod.0.tutor}}</em>
                    </td>
                    <td>
                      <strong>{{fourthPeriod.0.subject}}</strong><br>
                      {{fourthPeriod.0.startingTime}} - {{fourthPeriod.0.endingTime}}<br>
                      <em>{{fourthPeriod.0.tutor}}</em>
                    </td>
                    <td>
                      <strong>{{fifthPeriod.0.subject}}</strong><br>
                      {{fifthPeriod.0.startingTime}} - {{fifthPeriod.0.endingTime}}<br>
                      <em>{{fifthPeriod.0.tutor}}</em>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
           </div>
      
            </div>
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>
</main>