
<section class="about section-padding">
    <div class="container">
        <div class="row">
          <div class="home-container">

            <h1 class="fac-h2">{{course}} {{semester}} Timetable</h1>
            <form action="/displayTimeTable" method="post">
            <div class="selection-container">
                <label for="course">Select Course:</label>
                <select name="course" id="course">
                    <option value="">--Select Course--</option>
                    <option   value="MCA">MCA</option>
                    <option value="MSC">MSC</option>
                </select>
                <label for="semester">Select Semester:</label>
                <select name="semester" id="semester">
                    <option value="">--Select Semester--</option>
                    <option value="S1">Semester 1</option>
                    <option value="S2">Semester 2</option>
                    <option value="S3">Semester 3</option>
                    <option value="S4">Semester 4</option>
                </select>
                 <button type="submit" class="view-time-table"><a>view Time Table</a></button>
            </div>
           
            </form>
        
            <!-- Timetable -->
            <div class="table-container" id="timetable">
                <table class="hod-timetable">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Subject</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Tutor</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td rowspan="5">{{day}}</td>
                            <td>{{firstPeriod.0.subject}} </td>
                            <td>{{firstPeriod.0.startingTime}}</td>
                            <td>{{firstPeriod.0.endingTime}}</td>
                            <td>{{firstPeriod.0.tutor}}</td>
                            <td rowspan="5">
                                <button class="hod-edit-btn"><a href="/edit-timetable/{{this._id}}">Edit</a></button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{secondPeriod.0.subject}}</td>
                            <td>{{secondPeriod.0.startingTime}}</td>
                            <td>{{secondPeriod.0.endingTime}}</td>
                            <td>{{secondPeriod.0.tutor}}</td>
                        </tr>
                        <tr>
                            <td>{{thirdPeriod.0.subject}}</td>
                            <td>{{thirdPeriod.0.startingTime}}</td>
                            <td>{{thirdPeriod.0.endingTime}}</td>
                            <td>{{thirdPeriod.0.tutor}}</td>
                        </tr>
                        <tr>
                            <td>{{fourthPeriod.0.subject}}</td>
                            <td>{{fourthPeriod.0.startingTime}}</td>
                            <td>{{fourthPeriod.0.endingTime}}</td>
                            <td>{{fourthPeriod.0.tutor}}</td>
                        </tr>
                        <tr>
                            <td>{{fifthPeriod.0.subject}}</td>
                            <td>{{fifthPeriod.0.startingTime}}</td>
                            <td>{{fifthPeriod.0.endingTime}}</td>
                            <td>{{fifthPeriod.0.tutor}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>
</main>
