
<section class="about section-padding">
    <div class="container">
        <div class="row">
               <!-- Container for the timetable -->
  <div class="timetable-container">
    <!-- "Show All Day Timetable" Button -->
    <button class="all-timetable-btn"><a href="/show-all-day-timetable-student">Show All Day</a></button>

    <!-- Timetable Box -->
    <div class="timetable-box">
      {{#if data}}
      <h2>Today's Timetable - {{data.day}}</h2>
      <table class="student-timetable">
        <thead>
          <tr>
            <th>Period</th>
            <th>Subject</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Tutor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1st Period</td>
            <td>{{data.firstPeriod.0.subject}}</td>
            <td>{{data.firstPeriod.0.startingTime}}</td>
            <td>{{data.firstPeriod.0.endingTime}}</td>
            <td>{{data.firstPeriod.0.tutor}}</td>
          </tr>
          <tr>
            <td>2nd Period</td>
            <td>{{data.secondPeriod.0.subject}}</td>
            <td>{{data.secondPeriod.0.startingTime}}</td>
            <td>{{data.secondPeriod.0.endingTime}}</td>
            <td>{{data.secondPeriod.0.tutor}}</td>
          </tr>
          <tr>
            <td>3rd Period</td>
            <td>{{data.thirdPeriod.0.subject}}</td>
            <td>{{data.thirdPeriod.0.startingTime}}</td>
            <td>{{data.thirdPeriod.0.endingTime}}</td>
            <td>{{data.thirdPeriod.0.tutor}}</td>
          </tr>
          <tr>
            <td>4th Period</td>
            <td>{{data.fourthPeriod.0.subject}}</td>
            <td>{{data.fourthPeriod.0.startingTime}}</td>
            <td>{{data.fourthPeriod.0.endingTime}}</td>
            <td>{{data.fourthPeriod.0.tutor}}</td>
          </tr>
          <tr>
            <td>5th Period</td>
            <td>{{data.fifthPeriod.0.subject}}</td>
            <td>{{data.fifthPeriod.0.startingTime}}</td>
            <td>{{data.fifthPeriod.0.endingTime}}</td>
            <td>{{data.fifthPeriod.0.tutor}}</td>
          </tr>
        </tbody>
      </table>
      {{else}}
      <h5 style="color:#FFB300;">Today's Timetabel Is Not Available</h5>
      {{/if}}
    </div>
  </div>
            </div>
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>

</main> 
