
<section class="about section-padding">
    <div class="container">
        <div class="row">
           <div class="timetable-container">
 <button class="all-timetable-btn" style="margin-top: rem;" onclick="window.location.href='/all-timetables-for-faculty';">View All Day</button>

  <h5 class="fac-h5">Timetables for {{day}}</h5>
     
    <table class="fac-timetable">
      <thead>
        <tr>
          <th>Period</th>
          <th>Subject</th>
          <th>Tutor</th>
          <th>Starting Time</th>
          <th>Ending Time</th>
          <th>Course</th> <!-- Add Course column -->
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        {{#each periods}}
          {{#unless _id}}
            {{#if this}}
              {{#each this}}
                <tr>
                  <td>{{@../key}}</td> <!-- Period name (e.g., firstPeriod) -->
                  <td>{{this.subject}}</td>
                  <td>{{this.tutor}}</td>
                  <td>{{this.startingTime}}</td>
                  <td>{{this.endingTime}}</td>
                  <td>{{this.course}}</td> <!-- Add Course field -->
                </tr>
              {{/each}}
            {{/if}}
          {{/unless}}
        {{/each}}
       {{/each}}
      </tbody>
    </table>
           </div>
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>
</main>